.section {
    background: #cdc5c5;
    margin-bottom: 16px;
    padding: 16px;
   

    &__header {
        color: rgb(4, 46, 46);
        margin-left: 64px;

        &--special {
            color: rgb(182, 33, 7);
        }
    }

    &__image {
        max-width: 100%;
        display: block;
    }

    p {
        line-height: 1.5;
        font-size: 18px;
    }

    a {
        color: #3f0569;
    }
}