$textColor: rgb(41, 6, 78);
$desktop: 1280px;
$tablet: 768px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(123, 34, 195);
    background: linear-gradient(188deg, rgba(123, 34, 195, 1) 0%, rgba(19, 2, 66, 0.9079832616640406) 100%);
    font-family: Arial, Helvetica, sans-serif;

    @media screen and (min-width: $desktop) {
        background: black;
    }
}

.czerwony {
    color: red;
}




.footer {
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;

    &__content {
        color: #8b8888;
    }

    &__top-link {
        position: fixed;
        bottom: 16px;
        right: 16px;
        color: white;
        padding: 8px 12px;
        background: black;
        display: block;
        border-radius: 8px;
    }
}

main {
    max-width: 768px;
    margin: 0 auto;
}



.my-article {
    &__header {
        color: $textColor;
        &::before {
            content: "✨";
        }
    }
    &__list {
        list-style-type: circle;
    }

    p {
        background: rgb(68, 56, 240);
        color: #fff;
        padding: 16px;
        margin-bottom: 0;
    }
}

ol {
    list-style-type: disc;
}

.header {
    min-height: 50px;
    background: #36035e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger {
    padding: 4px;
    background: none;
    border: 0;
    font-size: 1.5rem;

    @media screen and (min-width: $tablet) {
        display: none;
    }

}




.navigation {
    padding: 16px;
    background: #36035e;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 50px;
    width: 100%;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        position: static;
    }


    &--open {
        display: flex;
    }

    &__link {
        color: white;
    }
}


.page-header {
    padding: 16px;

    &__button {
        background: blue;
        color: #fefefe;
        font-weight: 700;
        border: 0;
        display: inlajn-block;
        padding: 4px 8px;
        border-radius: 4px;
    }

    &__heading {
        font-size: 1.5rem;
        color: #fefefe;
        font-weight: 700;
        letter-spacing: -0.05em;

        @media screen and (min-width: $tablet) {
            font-size: 2rem;
            color: hotpink;
        }

        @media screen and (min-width: $desktop) {
            font-size: 3rem;
        }

    }
}


.section {
    background: #cdc5c5;
    margin-bottom: 16px;
    padding: 16px;

    &__header {
        color: rgb(4, 46, 46);
        margin-left: 64px;

        &--special {
            color: rgb(182, 33, 7);
        }

        &__image {
            max-width: 100%;
            display: block;
        }

        p {
            line-height: 1.5;
            font-size: 18px;
        }

        a {
            color: #3f0569;
        }
    }
}

#szkolenie {
    background: yellow;
}


table {
    width: 100%;
    text-align: center;

    caption {
        margin-bottom: 2rem;
    }
}


textarea {
    width: 100%;
    min-height: 20 rem;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}