$textColor: hotpink;
$desktop: 1280px;
$tablet: 768px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(123, 34, 195);
    background: linear-gradient(188deg, rgba(123, 34, 195, 1) 0%, rgba(19, 2, 66, 0.9079832616640406) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.czerwony {
    color: red;
}




.footer {
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;

}


.footer__content {
    color: #8b8888;
}


.footer__top-link {
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: white;
    padding: 8px 12px;
    background: black;
    display: block;
    border-radius: 8px;

}




main {
    max-width: 768px;
    margin: 0 auto;
}



.my-article {
    &__header {
        color: $textColor;
    }

    &__list {
        list-style-type: circle;
    }

    p {
        background: rgb(68, 56, 240);
        color: #fff;
        padding: 16px;
        margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
        background: tomato;
    }
}

ol {
    list-style-type: disc;
}

.header {
    min-height: 50px;
    background: #36035e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger {
    padding: 4px;
    background: none;
    border: 0;
    font-size: 1.5rem;
}



.navigation {
    padding: 16px;
    background: #36035e;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 50px;
    width: 100%;

}

.navigation--open {
    display: flex;
}

.navigation__link {
    color: white;
}

.page-header {
    padding: 16px;
}

.page-header__button {
    background: blue;
    color: #fefefe;
    font-weight: 700;
    border: 0;
    display: inlajn-block;
    padding: 4px 8px;
    border-radius: 4px;

}

.page-header__heading {
    font-size: 1.5rem;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.section {
    background: #cdc5c5;
    margin-bottom: 16px;
    padding: 16px;
}


section a {
    color: #3f0569;
}


.section__header {
    color: rgb(4, 46, 46);
    margin-left: 64px;
}

.section__header--special {
    color: rgb(182, 33, 7);
}

.section__image {
    max-width: 100%;
    display: block;
}

.section p {
    line-height: 1.5;
    font-size: 18px;
}


#szkolenie {
    background: yellow;
}



table {
    width: 100%;
    text-align: center;
}

table caption {
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    min-height: 20 rem;
}

.article-grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#top {
    color: rgb(4, 122, 57);
}

@media screen and (min-width: 768px) {
    body {
        background: black;
    }

    .article-grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .hamburger {
        display: none;
    }

    .page-header__heading {
        font-size: 2rem;
        color: hotpink;
    }

    .navigation {
        padding: 16px;
        background: #36035e;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: static;
        gap: 24px;
    }

    .navigation__link {
        color: white;
    }
}

@media screen and (min-width: 1280px) {
    .page-header__heading {
        font-size: 3rem;
    }

    .article-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}